[Unit]
Description=camera-streamer web camera
After=network.target

[Service]
ConditionPathExists=/sys/bus/i2c/drivers/imx519/10-001a/video4linux
ExecStart=/usr/local/bin/camera-streamer \
  -camera-path=/base/soc/i2c0mux/i2c@1/imx519@1a \
  -camera-type=libcamera \
  -camera-format=YUYV \
  -camera-width=2328 -camera-height=1748 \
  -camera-fps=30 \
  ; use two memory buffers to optimise usage
  -camera-nbufs=2 \
  ; the high-res is 1552x1165
  -camera-high_res_factor=1.5 \
  ; the low-res is 776x582
  -camera-low_res_factor=3.0 \
  ; bump brightness slightly
  -camera-options=brightness=0.1 \
  ; disable auto-focus
  -camera-auto_focus=0

DynamicUser=yes
SupplementaryGroups=video i2c
Restart=always
RestartSec=10
Nice=10
IOSchedulingClass=idle
IOSchedulingPriority=7
CPUWeight=20
AllowedCPUs=1-2
MemoryMax=250M

[Install]
WantedBy=multi-user.target
